@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap')

.layout
    display: flex
    flex-direction: column
    min-height: 100vh
    #main
        flex-grow: 1
    footer
        flex-grow: 0
body
    color: $black
    background: $white
    font-family: 'Ubuntu', sans-serif
header
    background: #ffb4b4
footer
    background: #555555
*
    box-sizing: border-box
.wrapper
    width: 100%
    max-width: 1480px
    padding: 0 20px
    margin: 0 auto
.notification-title
    font-size: 16px
    line-height: 100%
.notification-content
    font-size: 14px
    line-height: 100%
.notification-content,
.notification-title
    font-weight: bold
    font-family: Arial, Helvetica, sans-serif